body {
    background-color: #f5e6c8;
    font-family: arial, sans-serif;
    color: #3e2723;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #6f4e37;
    font-size: 2.5em;
}
.logo {
    widht: 200px;
    border-radius: 10px;
}
img {
     max-widht: 300px;
    border-radius: 10px;
    margin: 10px;
   }

